<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Music</title>
</head>
<body>
    <header>
        <img class="img-header" src="../images/angel.jpg" alt="Un men cantando">
        <h1>Music</h1>
    </header>
    <section id="music-info">
        <article class="article1">
            <div class="textos1">
                <h2><span class="w-music">MUSIC.</span><br><span class="w-fun-enter">FUN.<br>ENTERTAINMENT.</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At enim quaerat nam maiores! Ratione provident, consequuntur, adipisci beatae doloremque eveniet.</p>
                <button>GO THERE</button>
            </div>
            <img src="../images/palmer.png" alt="Un men con fueguito en las manos">
        </article>
        <article class="article2">
            <img src="../images/wesley.png" alt="Un men cantando">
            <div class="textos2">
                <h2><span class="w-music">LOUDER.</span><br><span class="w-fun-enter">LIKE IT WAS NEVER BEEN BETTER.</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At enim quaerat nam maiores! Ratione provident, consequuntur, adipisci beatae doloremque eveniet.</p>
                <button>GO THERE</button>
            </div>
        </article>
    </section>
    <section id="final-music-info">
        <img class="img-final" src="../images/raptis.png" alt="Un Guitarra">
        <div class="textos2 container-final">
            <h2><span class="w-fun-enter">SOUND VIBES WITH COLORS.</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At enim quaerat nam maiores! Ratione provident, consequuntur, adipisci beatae doloremque eveniet.</p>
            <button>GO THERE</button>
        </div>
    </section>
    <footer>
        <div class="container-footer">
            <ul>
                <li class="li-primero">JIBH</li>
                <li>kjnsefs</li>
                <li>ergawgwarg</li>
                <li>wefef</li>
                <li>swegseg</li>
            </ul>
            <ul>
                <li class="li-primero">JNUENUFI</li>
                <li>segseg</li>
                <li>egesrgeg</li>
                <li>wefwef</li>
                <li>wegwgwgwg</li>
            </ul>
            <ul>
                <li class="li-primero">TTDFGH</li>
                <li>wrgsg</li>
                <li>segsegsg</li>
                <li>asefaf</li>
                <li>sefsfe</li>
            </ul>
            <ul>
                <li class="li-primero">KOJUFEF</li>
                <li>asegsrgsg</li>
                <li>segsrg</li>
                <li>srf</li>
                <li>srgw4g</li>
            </ul>
        </div>
        <div class="final-footer">
            <p>Aca hay info suya</p>
            <p>Mama clara</p>
        </div>
    </footer>
</body>
</html>