<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Ejercicio 3</title>
</head>
<body>
    <header>
        <nav>
            <img src="../images/logo.png" alt="logo de la pagina" class="logo">
            <ul>
                <li class="first-li">Home</li>
                <li>About</li>
                <li>Work</li>
                <li>Contact</li>
            </ul>
        </nav>
        <div class="header-container">
            <img src="../images/iphone.png" alt="imagen de un telefono" class="iphone">
            <article>
                <h1>We design iOS apps</h1>
                <p class="text-1">Ut In Nulla Enim. Phasellus Molestie Magna Non Est Bibendum Non Venenatis ut In Nulla Enim. Phasellus Molestie.</p>
                <p class="text-2">Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie tempor. Suspendisse dictum feugiat.</p>
                <div class="button-container">
                    <button>Request a quote</button>
                    <p class="or">or</p>
                    <p class="texto-link"><a href="#">See our recent work</a></p>
                </div>
            </article>
        </div> 
    </header>
    <aside class = "aside-1">
            <img src="../images/dummy01.png" alt="">
            <img src="../images/dummy02.png" alt="">
            <img src="../images/dummy03.png" alt="">
            <img src="../images/dummy04.png" alt="">
            <img src="../images/dummy05.png" alt="">
        </aside>
    <section id="section-1">
        <div class="container-1">
            <article>
                <img src="../images/img1.png" alt="">
                <h3>Engaging interfaces</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis.</p>
                <button>Read more</button>
            </article>
            <article>
                <img src="../images/img2.png" alt="">
                <h3>Usable Design</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis.</p>
                <button>Read more</button>
            </article>
            <article>
                <img src="../images/img3.png" alt="">
                <h3>Solid Development</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis.</p>
                <button>Read more</button>
            </article>
        </div>
        <div class="container-2">
            <h2>Selected projects</h2>
            <div class="projects">
                <div>
                    <img src="../images/Screenshot 2025-07-02 203208.png" alt="">
                </div>
                <div>
                    <img src="../images/Screenshot 2025-07-02 203208.png" alt="">
                </div>
                <div>
                    <img src="../images/Screenshot 2025-07-02 203208.png" alt="">
                </div>
                <div>
                    <img src="../images/Screenshot 2025-07-02 203208.png" alt="">
                </div>
                
            </div>
        </div>
        <div class="container-3">
            <article>
                <h3>From our blog</h3>
                <div class="c3-div">
                    <img src="../images/img1.png" alt="">
                    <div>
                        <h5>Our work process reviewed</h5>
                        <p class="text-3">
                            Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus mauris. <span = class="span1">Read more...</span>
                        </p>
                        <p class="text-4">0/01/13 - 10:21 AM</p>
                    </div>
                </div>
                <div class="c3-div">
                    <img src="../images/img1.png" alt="">
                    <div>
                        <h5>Who we are at Appcompany</h5>
                        <p class="text-3">
                            Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus mauris. <span = class="span1">Read more...</span>
                        </p>
                        <p class="text-4">0/01/13 - 10:21 AM</p>
                    </div>
                </div>
                <h6>Older entries</h6>
            </article>
            <article>
                <h3>Our Twitter feed</h3>
                <div class="c3-div2">
                        <p class="text-3">
                            <span class="span2">@Aptastico:</span> In <span class="span1">pellentesque.com</span> faucibus vestibulum. Nulla at nulla justo, eget Duis aliquet egestas <span class="span1">#purus</span> in <span class="span1">#blandit</span>.
                        </p>
                        <p class="text-5">0/01/13 - 10:21 AM</p>
                        <p class="text-3">
                            <span class="span2">@Aptastico:</span> In <span class="span1">pellentesque.com</span> faucibus vestibulum. Nulla at nulla justo, eget Duis aliquet egestas <span class="span1">#purus</span> in <span class="span1">#blandit</span>.
                        </p>
                        <p class="text-5">0/01/13 - 10:21 AM</p>
                        <p class="text-3">
                            <span class="span2">@Aptastico:</span> In <span class="span1">pellentesque.com</span> faucibus vestibulum. Nulla at nulla justo, eget Duis aliquet egestas <span class="span1">#purus</span> in <span class="span1">#blandit</span>.
                        </p>
                        <p class="text-5">0/01/13 - 10:21 AM</p>
                </div>
                <h6>Follow us on Twitter</h6>
            </article>
        </div>
    </section>
    <hr>
    <footer>
        <p>© Christoffer Jensen 2013</p>
        <ul>
            <li><img src="../images/Facebook.png"></li>
            <li><img src="../images/Twitter.png"></li>
            <li><img src="../images/Linkedin.png" alt=""></li>
            <li><img src="../images/Dribbble.png" alt=""></li>
        </ul>
    </footer>
</body>
</html>