<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Bleux</title>
</head>
<body>
    <nav>
        <img src="../images/logo.png" alt="logo" class="logo">
        <ul class="navbar">
            <a href="#"><li class="here"">About</li></a>
            <a href="#"><li>Features</li></a>
            <a href="#"><li>Use case</li></a>
            <a href="#"><li>Pricing</li></a>
            <a href="#" class="download""><li class="here">Download</li></a>
        </ul>
    </nav>   
    <header>
        <div class="header-left">
            <div class="header-left-text">
                <h1>Product Page</h1>
                <p>We built this template to help you create modern and beautiful marketing page</p>
                <div>
                    <button class="btn-1">Download it now</button>
                    <button class="btn-2">Features</button>
                </div>
            </div>
        </div>
        <div class="header-right">
            <div class="img-header1">
            <img class="img-header2" src="../images/phone.png" alt="a image of a phone">
            </div>
        </div>
    </header>
    <section id="section1">
        <h2>Fonctionnalitiés</h2>
        <div class="container">
            <div class="image-container">
                <img src="../images/laptop.png" alt="image of a pc">
            </div>
        <article>
            <h3>Alpha Screenshot</h3>
            <p>This is a placeholder text. Replace it with your awesome call to action text. Develop stunning product website easily with this template.</p>
            <h4>— Marketing Page</h4>
            <ul>
                <li>✅ Based on Bootstrap 4</li>
                <li>✅ Modern and creative</li>
                <li>✅ Optimized for mobile device</li>
            </ul>
        </article>
        </div>
    </section>
    <section id="section2">
        <h2>Plans & Pricing</h2>
        <p class="texto-grande">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat.
            Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis
            pharetra tempor. Donec id pretium leo. Pellentesque luctus massa non elit viverra pellentesque.
            Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem.
        </p>
        <div class="sec2-container">
            <article>
                <img src="../images/hoja.png" alt="imagen de una hoja">
                <h3 class="plan">Lite</h3>
                <div class="container-precio">
                    <h4>$0</h4>
                    <h5>Free</h5>
                </div>
                <ul>
                    <li><svg width="16" height="16" viewBox="0 0 16 16" fill="#ff3cac" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0L9 6L15 5L10 8L15 11L9 10L8 16L7 10L1 11L6 8L1 5L7 6L8 0Z"/>
                        </svg> Full Components</li>
                    <li><svg width="16" height="16" viewBox="0 0 16 16" fill="#ff3cac" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.0001 11.2L2.8001 8L1.8667 8.93333L6.0001 13.0667L15.0001 4.06667L14.0667 3.13333L6.0001 11.2Z"/>
                        </svg> Future Updates</li>
                    <li><svg width="16" height="16" viewBox="0 0 16 16" fill="#ff3cac" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.0001 11.2L2.8001 8L1.8667 8.93333L6.0001 13.0667L15.0001 4.06667L14.0667 3.13333L6.0001 11.2Z"/>
                        </svg> Documentation</li>
                    <li><svg width="16" height="16" viewBox="0 0 16 16" fill="#ff3cac" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.0001 11.2L2.8001 8L1.8667 8.93333L6.0001 13.0667L15.0001 4.06667L14.0667 3.13333L6.0001 11.2Z"/>
                        </svg> Customer Support</li>
                    <li><svg width="16" height="16" viewBox="0 0 16 16" fill="#666666" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.41 8l4.3-4.29-1.42-1.42L8 6.59 3.71 2.29 2.29 3.71 6.59 8l-4.3 4.29 1.42 1.42L8 9.41l4.29 4.3 1.42-1.42L9.41 8z"/>
                        </svg> Cool Option</li>
                </ul>
                <p>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                <div class="btn-container">
                    <button class="btn-3">Subscribe Now</button>
                </div>
            </article>
            <article>
                <img src="../images/nube.png" alt="imagen de una nube">
                <h3 class="plan">Standard</h3>
                <div class="container-precio">
                    <h4>$24</h4>
                    <h5>per month</h5>
                </div>
                <ul>
                    <li><svg width="16" height="16" viewBox="0 0 16 16" fill="#ff3cac" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0L9 6L15 5L10 8L15 11L9 10L8 16L7 10L1 11L6 8L1 5L7 6L8 0Z"/>
                        </svg> Full Components</li>
                    <li><svg width="16" height="16" viewBox="0 0 16 16" fill="#ff3cac" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.0001 11.2L2.8001 8L1.8667 8.93333L6.0001 13.0667L15.0001 4.06667L14.0667 3.13333L6.0001 11.2Z"/>
                        </svg> Future Updates</li>
                    <li><svg width="16" height="16" viewBox="0 0 16 16" fill="#ff3cac" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.0001 11.2L2.8001 8L1.8667 8.93333L6.0001 13.0667L15.0001 4.06667L14.0667 3.13333L6.0001 11.2Z"/>
                        </svg> Documentation</li>
                    <li><svg width="16" height="16" viewBox="0 0 16 16" fill="#ff3cac" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.0001 11.2L2.8001 8L1.8667 8.93333L6.0001 13.0667L15.0001 4.06667L14.0667 3.13333L6.0001 11.2Z"/>
                        </svg> Customer Support</li>
                    <li><svg width="16" height="16" viewBox="0 0 16 16" fill="#666666" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.41 8l4.3-4.29-1.42-1.42L8 6.59 3.71 2.29 2.29 3.71 6.59 8l-4.3 4.29 1.42 1.42L8 9.41l4.29 4.3 1.42-1.42L9.41 8z"/>
                        </svg> Cool Option</li>
                </ul>
                <p>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                <div class="btn-container">
                    <button>Subscribe Now</button>
                </div>
            </article>
            <article>
                <img src="../images/maletin.png" alt="imagen de un maletin">
                <h3 class="plan">Ultimate</h3>
                <div class="container-precio">
                    <h4>$400</h4>
                    <h5>per user /year</h5>
                </div>
                <ul>
                    <li><svg width="16" height="16" viewBox="0 0 16 16" fill="#ff3cac" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0L9 6L15 5L10 8L15 11L9 10L8 16L7 10L1 11L6 8L1 5L7 6L8 0Z"/>
                        </svg> Full Components</li>
                    <li><svg width="16" height="16" viewBox="0 0 16 16" fill="#ff3cac" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.0001 11.2L2.8001 8L1.8667 8.93333L6.0001 13.0667L15.0001 4.06667L14.0667 3.13333L6.0001 11.2Z"/>
                        </svg> Future Updates</li>
                    <li><svg width="16" height="16" viewBox="0 0 16 16" fill="#ff3cac" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.0001 11.2L2.8001 8L1.8667 8.93333L6.0001 13.0667L15.0001 4.06667L14.0667 3.13333L6.0001 11.2Z"/>
                        </svg> Documentation</li>
                    <li><svg width="16" height="16" viewBox="0 0 16 16" fill="#ff3cac" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.0001 11.2L2.8001 8L1.8667 8.93333L6.0001 13.0667L15.0001 4.06667L14.0667 3.13333L6.0001 11.2Z"/>
                        </svg> Customer Support</li>
                    <li><svg width="16" height="16" viewBox="0 0 16 16" fill="#666666" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.41 8l4.3-4.29-1.42-1.42L8 6.59 3.71 2.29 2.29 3.71 6.59 8l-4.3 4.29 1.42 1.42L8 9.41l4.29 4.3 1.42-1.42L9.41 8z"/>
                        </svg> Cool Option</li>
                </ul>
                <p>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                <div class="btn-container">
                    <button>Subscribe Now</button>
                </div>
            </article>
        </div>
    </section>
    <footer>
        <p>© Website made by <span class="author">Mivfx</span> - contact@address.com</p>
        <ul>
            <li><a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="facebook logo"></a></li>
            <li><a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="twitter logo"></a></li>
            <li><a href="#"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn logo consisting of white letters i and n on a blue square background representing professional networking in a neutral and corporate environment"></a></li>
            <li><a href="#"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram logo"></a></li>
        </ul>
    </footer>

</body>
</html>